*{
    background-color: rgba(242, 196, 196, 0.612); 
}

h1{
    color: rgb(0, 0, 0);
}
p{
    background-color: rgb(149, 149, 220);
    font: size 2rem;
    color:rgb(0, 0, 0)
}

h2{
    color: rgb(18, 110, 46);
}

h3{
    color: rgb(39, 39, 94);
}

h4{
    color: rgb(63, 42, 165);
}

h5{
    color: rgb(13, 126, 126);
}

h6{
    color: rgb(73, 90, 84);
}
